@using xtbdEcommerceAdminPanel.Models
@using xtbdEcommerceAdminPanel.Models.View_Model

@{
    ViewBag.Title = "Order Dashboard";
    CountOrder countOrder = (CountOrder) Session["OrderCount"];
}
<link rel="stylesheet" href="~/Content/css/OrderDashboard.css">
<div class="row" align="center" id="masterDepot">
    <h3> Order Dashboard</h3>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("PendingOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(255, 188, 113, 0.1)">
                    <center><i id="totalPendingOrder" class="fa" style="color: #f78707; font-size: 54px">@countOrder.Pending</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Pending Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("ProcessingOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(255, 188, 113, 0.1)">
                    <center><i id="totalPendingOrder" class="fa" style="color: #f78707; font-size: 54px">@countOrder.Processing</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Processing Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("PackagingOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(237, 149, 48, 0.09)">
                    <center><i id="totalConfirmedOrder" class="fa" style="color: #e59e4d; font-size: 54px">@countOrder.Packaging</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Packaging Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
   
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("ShippiedOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(45, 140, 172, 0.09)">
                    <center><i id="totalShippedOrder" class="fa" style="color: #098ebc; font-size: 54px">@countOrder.Shipped</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Shipped Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("DeliveredOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(37, 152, 154, 0.05)">
                    <center><i id="totalDeliveredOrder" class="fa" style="color: #26adaf; font-size: 54px">@countOrder.Delivered</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Delivered Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("ReceivedOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(26, 206, 77, 0.09)">
                    <center><i id="totalReceivedOrder" class="fa" style="color: #00b734; font-size: 54px">@countOrder.Received</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Received Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="@Url.Action("CanceledOrders", "Order")">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(253, 83, 38, 0.05)">
                    <center><i id="totalRejectOrder" class="fa" style="color: #ec3e10; font-size: 54px">@countOrder.Cancelled</i></center>
                </div>
                <div class="wrimagecard-topimage_title">
                    <center>
                        <p style="font-size: 13px">
                            <strong> Canceled Orders</strong>
                        </p>
                    </center>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script>
$(document).ready(function () {
    var activeProduct = $("#totalActiveProduct").val();
    var inactiveProduct = $("#totalInactiveProduct").val();
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Active", "Inactive"],
            datasets: [{
                backgroundColor: [
                  "#2ecc71",
                  "#3498db"
                ],
                data: [activeProduct, inactiveProduct]
            }]
        }
    });
});</script>
}