@using xtbdEcommerceAdminPanel.Models.View_Model
@{
    ViewBag.Title = "Use Process Index";
    List<UseProcessVM> useProcessImages = ViewBag.useProcessImages;
}

@section style
{   
    <style>
        #gallery_hotel     {margin:0 auto; position:relative; width: 601px;}
        #gallery_hotel img {margin:0 auto; display: block;width: 601px;height: 400px;}

        #thumbs_hotel      {overflow:hidden; width:580px; margin:30px auto 0}
        #thumbs_hotel img  {float:left; margin:5px; cursor: pointer}
    </style>
}

<link rel="stylesheet" href="~/Content/vendors/simple-datatables/style.css">
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Use Process Image List</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Use Process Image</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Create","UseProcessImage")" class="btn btn-success mr-1 mb-1" style="float: right"><i data-feather="plus"></i>Add New Image</a>
            </div>
            <div class="card-body">
                <div class='@TempData["Class"]' id="flashMessage" role="alert">@TempData["Message"]</div>
                <table class='table table-striped' id="table1">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product</th>
                        <th>Product Unit</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    @if (useProcessImages != null)
                    {
                        var count = 1;
                        foreach (UseProcessVM useProcess in useProcessImages)
                        {
                            <tr>
                                <td style="width: 8%">@(count++)</td>
                                <td>
                                    @useProcess.ProductName
                                </td>
                                <td>
                                    @useProcess.StockKeepingUnit
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "UseProcessImage", new {id = @useProcess.ProductUnitId})">Edit</a>                        
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal" onclick="createModal('@Url.Action("GetImage", "UseProcessImage", new {id = useProcess.ProductUnitId})')">View Images</button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel">User Process Images</h4>
            </div>
            <div class="modal-body" id="modelContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Content/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/Content/js/vendors.js"></script>
    <Script>

        $(document).ready(function () {
            $('#flashMessage').delay(3000).fadeOut('slow');

            $("#myModal").on("hidden.bs.modal", function() {
                $("#modelContent").html("");
            });
        });
        function createModal(url){
            $('#modelContent').load(url);
            $('#myModal').modal('show');
        }
    </Script>
}